@page "/contact_us"

<PageTitle>Delivery Website - Contact Us</PageTitle>

<h1>Contact Us</h1>
<p>
    Email: email@address.com.au <br />
    Phone: (+61) 123 456 789 <br />
    Address: 123 Test st, Bundaberg, Queensland, 1234
</p>
