@page "/estimate_quote"

<PageTitle>Delivery Website - Estimate Quote</PageTitle>

<h1>Estimate Quote</h1>

<div class="flexbox">
    <p>
        if you want a quote you can contact
    </p>
    <p>
        deliveryemail@address.com
    </p>
    <p>
        Or call 0123 456 789
    </p>
    <p>
        Can implement a form to calculate an ESTIMATED cost for the work <br />
    </p>
</div>