@page "/details"

<PageTitle>Delivery Website - Vehicle Details</PageTitle>

<h1>Vehicle Details</h1>

<div class="flexbox">
    <div class="card" style="width: 18rem;">
        <img src="https://cdn.britannica.com/17/126517-050-9CDCBDDF/semi-semitrailer-truck-tractor-highway.jpg" class="card-img-top" alt="Big Truck">
        <div class="card-body">
            <h5 class="card-title">Big Truck Name</h5>
            <p class="card-text">Big Truck Details</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/rentalwebsolutions/image/upload/v1562159464/orana/hino.jpg" class="card-img-top" alt="Medium Truck">
        <div class="card-body">
            <h5 class="card-title">Medium Truck Name</h5>
            <p class="card-text">Medium Truck Details</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://www.driveway.com/static/media/truck.b0b88b8b92935739764b.jpg" class="card-img-top" alt="Medium Truck">
        <div class="card-body">
            <h5 class="card-title">Small Truck Name</h5>
            <p class="card-text">Small Truck Details</p>
        </div>
    </div>
</div>